<app-nav-bar>/</app-nav-bar>


<section id="pricing">
    <div class="container">
      <h2 class="text-center">PRICING</h2>
      <p class="text-center">
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="card-5">
            <h3>FREE</h3>
            <h4><span><sup>$</sup>0</span>/ month</h4>
            <h4>Aida dere</h4>
            <h4>Nec feugiat nisl</h4>
            <h4>Nulla at volutpat dola</h4>
            <h5><s>Pharetra massa</s></h5>
            <h5><s>Massa ultricies mi</s></h5>
            <a href="#about"> <button type="button">Buy Now</button></a>
          </div>

        </div>
        <div class="col-md-4">
          <div class="card-5 color">
            <h3>FREE</h3>
            <h4><span><sup>$</sup>0</span>/ month</h4>
            <h4>Aida dere</h4>
            <h4>Nec feugiat nisl</h4>
            <h4>Nulla at volutpat dola</h4>
            <h5><s>Pharetra massa</s></h5>
            <h5><s>Massa ultricies mi</s></h5>
            <a href="#about"><button type="button" id="color">Buy Now</button></a>
          </div>

        </div>
        <div class="col-md-4">
          <div class="card-5">
            <h3>FREE</h3>
            <h4><span><sup>$</sup>0</span>/ month</h4>
            <h4>Aida dere</h4>
            <h4>Nec feugiat nisl</h4>
            <h4>Nulla at volutpat dola</h4>
            <h5><s>Pharetra massa</s></h5>
            <h5><s>Massa ultricies mi</s></h5>
            <a href="#about"><button type="button">Buy Now</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>