<!-- <app-nav-bar></app-nav-bar>

<section id="banner">

     <tagname attribute1="value1" 
    <div class="bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="animate__animated animate__fadeInTopLeft">
              <h1>Bettter digital experience with Presento</h1>
              <h2>We are team of talented designers making websites with Bootstrap </h2>

              <button type="button"><a href="#about">Get Started</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
 
  <section id="banner1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
           Indicators 
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

             Wrapper for slides --
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="row">
                  <div class="col-md-12">
                    <div class="animate__animated animate__zoomIn">

                      <img src="../../assets/images/clients/client-1.png">dsfdf
                      <img src="../../assets/images/clients/client-2.png">
                      <img src="../../assets/images/clients/client-3.png">
                      <img src="../../assets/images/clients/client-4.png">
                      <img src="../../assets/images/clients/client-5.png">
                      <img src="../../assets/images/clients/client-8.png">
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../../assets/images/clients/client-1.png">
                    <img src="../../assets/images/clients/client-2.png">
                    <img src="../../assets/images/clients/client-3.png">
                    <img src="../../assets/images/clients/client-4.png">
                    <img src="../../assets/images/clients/client-5.png">
                    <img src="../../assets/images/clients/client-8.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<ol>
  <li *ngFor="let s of array">{{s.name}} </li>
</ol>