<div class="container-fluid">
  <div class="row" style="padding: 50px 80px;">
    <div class="col-md-3"style="padding:0px"  >

      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>


     

   
   
   
    </div>
    <div class="col-md-8" style="background-color: #e5e9ec;padding:20px">
      <div *ngFor="let s of bussinesslist"[routerLink]="['/sigle-bussiness', s.id]">

        <div class="card mb-3" style="max-width: 940px; padding: 5px">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img src="{{ s.image_link }}" style="width: 180px" alt="..." />
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h4 class="card-title text-primary" style="font-weight:700">{{ s.name }}</h4>
                <h6 class="text-primary">{{s.landmark}},{{s.district}}</h6>
                <h6>Address:{{s.house_number }}{{s.street}},{{s.landmark}},{{s.district}},{{s.state}}</h6>
                <h6>{{s.business_mobile}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
