<app-nav-bar>/</app-nav-bar>

<section id="contact">
    <div class="container">
      <h1 class="text-center ">CONTACT</h1>
      <p class="text-center">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
        quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
      </p>
      <div class="row">
        <div class="col-md-6">
          <div class="box-1">
            <span class="img-circle red"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
            <h4 class="text-center address">Our Address</h4>
            <h5 class="text-center">A108 Adam Street, New York, NY 535022</h5>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="box-2 text-center">
                <span class="img-circle color"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <h4>Email Us</h4>
                <h6>info@example.com</h6>
                <h6> contact@example.com</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-2 text-center">
                <span class="img-circle color"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <h4>Call Us</h4>
                <h6>+1 5589 55488 55</h6>
                <h6> +1 6678 254445 41</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style=" box-shadow:
        0 0 30px rgb(214 215 216 / 60%);">
          <form class="form-inline" style="padding-top:50px">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Your Name</label>
              <input type="name" class="form-control sm-5" id="exampleInputEmail3" size="30" placeholder="Your Name">
            </div>

            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Email address</label>
              <input type="email" class="form-control" id="exampleInputPassword3" size="30" placeholder="Your Email">
            </div>
            <br /><br />
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Subject</label>
              <input type="text" class="form-control" id="exampleInputPassword3" size="68"
                placeholder="Subject"><br /><br />

            </div>
            <textarea class="form-control" cols="70" rows="7" placeholder="Message"></textarea>
            <button type="button">Success</button>
          </form>
        </div>
      </div>
    </div>
  </section>