<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4" *ngFor="let s of categorylist" [routerLink]="['/subcategories',s.id]">
            
          
          <div class="card">
                <img src="{{s.image_link}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{s.name}}</h5>
                 
                  
                </div>
              </div>
        </div>
        <div class="md-3"></div>
        <div class="md-3"></div>
        <div class="md-3"></div>

    </div>
</div>