<app-nav-bar>/</app-nav-bar>


<section id="services">
    <div class="container">
      <h2>SERVICES</h2>
      <p class="description text-center">
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam
        cupiditate. Et nemo qui impedit suscipit alias ea.
      </p>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <span class="pull-left"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
            <h4>Lorem Ipsum</h4>
            <a href="#banner">

            </a>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas
              molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>

        <div class="col-md-6">

          <div class="card">
            <span class="pull-left"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
            <a href="#banner">
              <h4>Lorem Ipsum</h4>
            </a>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas
              molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <span class="pull-left"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
            <a href="#banner">
              <h4>Lorem Ipsum</h4>
            </a>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas
              molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <span class="pull-left"><i class="fa fa-binoculars" aria-hidden="true"></i></span>
            <a href='#banner'>
              <h4>Lorem Ipsum</h4>
            </a>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas
              molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <span class="pull-left"><i class="fa fa-sun-o" aria-hidden="true"></i></span>
            <a href="#banner">
              <h4>Lorem Ipsum</h4>
            </a>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas
              molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <span class="pull-left"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
            <a href="#banner">
              <h4>Lorem Ipsum</h4>
            </a>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas
              molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>
      </div>
    </div>
  </section>